<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @faculty.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @faculty.phone %>
</p>

<p>
  <strong>Department:</strong>
  <%= @faculty.department %>
</p>

<p>
  <strong>University:</strong>
  <%= @faculty.university %>
</p>

