<h2>Faculty Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
    <%= devise_error_messages! %>


    <div class="form-group">
      <%= f.label :name, class: 'col-sm-2 control-label' %>
      <div class="col-sm-6">
        <%= f.text_field :name, class: 'form-control', autofocus: true, :placeholder => 'Name' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :phone, class: 'col-sm-2 control-label' %>
      <div class="col-sm-6">
        <%= f.text_field :phone, class: 'form-control', autofocus: true, :placeholder => 'Phone Number' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :department, class: 'col-sm-2 control-label' %>
      <div class="col-sm-6">
        <%= f.text_field :department, class: 'form-control', autofocus: true, :placeholder => 'Department' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :university, class: 'col-sm-2 control-label' %>
      <div class="col-sm-6">

        <%= f.text_field :university, class: 'form-control', autofocus: true, :value => 'Georgia State University' %>

      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, class: 'col-sm-2 control-label' %>
      <div class="col-sm-6">
        <%= f.email_field :email, class: 'form-control', autofocus: true, :placeholder => 'Email' %>
      </div>
    </div>


    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-6">
        <%= f.submit 'Sign up', class: 'btn btn-primary' %>
      </div>
    </div>

<% end %>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-6">
    <%= render 'faculties/shared/links' %>
  </div>
</div>
