<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @administrator.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @administrator.phone %>
</p>

<p>
  <strong>Department:</strong>
  <%= @administrator.department %>
</p>

<p>
  <strong>University:</strong>
  <%= @administrator.university %>
</p>

<p>
  <strong>Password:</strong>
  <%= @administrator.password %>
</p>


